@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import "tailwindcss";
/* Usage */
body {
  opacity: 1 !important;
  overflow-x: hidden !important;
  /* max-width: 100vw; */
}


/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-cream-beige);
}
::-webkit-scrollbar-thumb {
  background: var(--color-rust);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-terracotta);
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-cream-beige: #ECDAC8;
  --color-soft-peach: #D1A693;
  --color-terracotta: #D8966F;
  --color-rust: #BF5B3C;
  --color-deep-brown: #955749;
  --color-off-white: #FAF8F6;
  --color-app-black: #3A3331;

  --font-lato: 'Lato', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --font-dancing: 'Dancing Script', cursive;
}

